html, * {
  margin: 0;
  padding: 0;
  font-size: 62.5%;
  box-sizing: border-box;
}

:root{
  --primarylight: #fffad3;  
  --secondarylight: #c44437;
  --fontlight: #720605;


  --primarydark: #1d2b33;
  --secondarydark: #4e7176;
  --fontdark: #fcf9fc;
}


body {
  background-color: var(--primarylight);
  font-family: "Exo 2", sans-serif;
}



h1{
  margin: 2rem;
  font-size: 5rem;
  text-align: center;
  color: var(--fontlight);
}

.form{
  text-align: center;
  font-size: 5rem;
  justify-content: space-between;
}


.button{

  margin-top: 3rem;

}



