html, * {
  margin: 0;
  padding: 0;
  font-size: 62.5%;
  box-sizing: border-box;
  font-family: "Oxanium", sans-serif;
}

:root{
  --primarylight: #fffad3;  
  --secondarylight: #c44437;
  --tertiarylight: #eeab14;
  --fontlight: #720605;


  --primarydark: #1d2b33;
  --secondarydark: #4e7176;
  --tertiarydark: #22396b;
  --fontdark: #fcf9fc;
}

.warm {
  --prim: var(--primarylight);
  --sec: var(--secondarylight)
  --ter: var(--tertiarylight)
  --font: var(--fontlight)
}

.cool {
  --prim: var(--primarydark);
  --sec: var(--secondarydark)
  --ter: var(--tertiarydark)
  --font: var(--fontdark)
}

body {
  background-color: var(--prim);

}



h1{
  margin: 2rem;
  font-size: 5rem;
  text-align: center;
  color: var(--font);
}

.form{
  text-align: center;
  font-size: 5rem;
  display: flex;
  justify-content: space-around;
}


.button{
  border: 3px solid var(--font);
  border-radius: 5px;
  color: rgb(60, 0, 0);
  padding: 0.8rem;
  background-color: var(--sec);
  margin-top: 3rem;

}


h2{
  font-size: 5rem;
}



#container{
    font-size: 6rem;
    display: flex;
    justify-content: space-around;
    text-align: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.card{
    border: 8px solid var(--sec);
    background-color: var(--ter);
    color: var(--font);
    border-radius: 8px;
    padding: 1rem;
    width: 33rem;
    height: 40rem;
    overflow: hidden;
    margin-top: 5rem;
    margin-bottom: 2rem;
    box-shadow: 5px 5px 5px  rgb(1, 13, 53);

}
